spring:
  profiles:
    include:  jpa, datasource
    active: local
  main:
    allow-bean-definition-overriding: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  data:
    redis:
      repositories:
        enabled: false
  jackson:
    time-zone: Asia/Seoul
  jwt:
    secret-key: ${JWT_SECRET}
    expiration-hours: 4
  servlet:
    multipart:
      maxFileSize: 100MB
      maxRequestSize: 100MB
      enabled: true

server:
  tomcat:
    threads:
      max: 300
  port: 8080
springdoc:
  default-consumes-media-type: application/json;charset=UTF-8
  api-docs:
    enabled: true
    path: '/v3/api-docs'
  swagger-ui:
    enabled: true
    path: '/swagger-ui.html'
    config-url: '/v3/api-docs/swagger-config'
    url: '/v3/api-docs'
    tags-sorter: alpha
    operations-sorter: alpha
  cache:
    disabled: true

gcs:
  project:
    id: tedserp
  bucket:
    name: teds-coffee

logging:
  discord:
    webhook-url: ${DISCORD_WEBHOOK}
  config: classpath:logback.xml

cors:
  allowed-origins:
    - "*"  # 로컬 개발 환경에서는 모든 origin 허용
  allowed-methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
    - HEAD
  allowed-headers: "*"
  allow-credentials: true
  max-age: 3600